# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.worldgen.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\cs\world-gen\worldgen\.idea\.idea.worldgen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
